.ol-mouse-position {
  top: auto;
  right: 8px;
  bottom: 8px;
  left: auto;
  background: rgba(0, 60, 136, 0.3);
  font-size: 12px;
  color: white;
  border-radius: 4px;
  > p {
    padding: 2px 6px;
  }
}
