.lineColor {
    width: 6rem;
    height: 6rem;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .lineColor::-webkit-color-swatch-wrapper {
    width: 6rem;
    height: 6rem;
    padding: 0;
    border: none;
    border-radius: 4px;
  }
  
  .lineColor::-webkit-color-swatch {
    width: 6rem;
    height: 6rem;
    padding: 0;
    border: none;
    border-radius: 4px;
  }
  